{% extends "layout.html" %}

    {% block title %} Page Not Found {% endblock %}

    {% block content %}
<div class="container-body">
  <div class="jumbotron">
    <h2 class="display-4">Page Not Found</h2><br>
    <p class="lead"> {{ errors }} </p>
    <br>
    Create your favorite Hero!
    <hr class="my-4">
    <p>Have you ever dreamed about your perfect Hero? Now you can create it!</p>
    <a class="btn btn-primary btn-lg" href="/hero" role="button">New Hero</a>
  </div>
</div>
    {% endblock %}
