{% extends "layout.html" %}

{% block title %} MY HEROES LIST{% endblock %}

{% block content %}

    {% if heroes|length > 0 %}

    <div class="container-body">
        <div class="jumbotron">
          <h1 class="display-4">My Heroes list</h1>
          <table>
              <tr>
                <th>Name</th>
                <th>Profession</th>
                <th>Hp</th>
                <th>Mana</th>
              </tr>

        {% for hero in heroes %}

          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.profession }}</td>
            <td>{{ hero.hp }}</td>
            <td>{{ hero.mana }}</td>
            <td id="actions">
                <a href="/heroes/{{hero.hero_id}}"><i class="fas fa-edit"></i></a>
                <a href="/heroes/{{hero.hero_id}}/status"><i class="fas fa-check" id="check"></i></a>
                <a><i class="far fa-trash-alt" id="trash"data-toggle="modal" data-target="#exampleModal" ></i></a>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>If you delete {{ hero.name }}, it will be gone for sure.Do you want to proceed?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/heroes/{{hero.hero_id}}/delete"><button id="delete" class="btn btn-primary">Delete</button></a>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>

        {% endfor %}
      </table>

    <div class="jumbotron">
        <a class="btn btn-primary btn-lg" href="/hero" role="button">New Hero</a>
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#Modal2">Delete List</button>

        <!-- Modal -->
        <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Modal2">Delete List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>This action will DELETE your hole Heroes Collection. Are you sure you want to delete it?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/heroes/delete"><button type="submit" class="btn btn-danger">Delete</button></a>
              </div>
            </div>
          </div>
        </div>
              </div>
            </div>
        </div>

    {% else %}

<div class="container-body">
  <div class="jumbotron">
    <h2 class="display-4">Nothing here yet!</h2><br>
    <p class="lead">Is there something you don't want to forget? <br> Start a new TODO and keep it in mind!</p>
    <hr class="my-4">
    <p>Having a hard time remembering pending issues?... Need to get organized?... Let's get Started! :)</p>
    <a class="btn btn-primary btn-lg" href="/form" role="button">New TODO</a>
  </div>
</div>

    {% endif %}

{% endblock %}