{% extends "layout.html" %}

{% block title %} MY PROFESSIONS LIST{% endblock %}

{% block content %}

{% if professions|length > 0 %}

<div class="container-body">
    <div class="jumbotron">
        <h1 class="display-4">My Professions list</h1>
        <table>
            <tr>
                <th>Profession</th>
                <th>Hp</th>
                <th>Mana</th>
            </tr>

            {% for profession in professions %}

            <tr>
                <td>{{ profession }}</td>
                <td>{{ profession.hp }}</td>
                <td>{{ profession.mana }}</td>
                <td id="actions">
                    <a href="/professions/{{profession.profession_id}}"><i class="fas fa-edit"></i></a>
                    <a href="/professions/{{profession.profession_id}}/status"><i class="fas fa-check"
                                                                                  id="check"></i></a>
                    <a><i class="far fa-trash-alt" data-target="#exampleModal" data-toggle="modal" id="trash"></i></a>
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                         tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>If you delete {{ profession }}, it will be gone for sure.Do you want to
                                        proceed?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                    <a href="/professions/{{profession.profession_id}}/delete">
                                        <button class="btn btn-primary" id="delete">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endfor %}

<div class="jumbotron">
    <a class="btn btn-primary btn-lg" href="/hero" role="button">New Hero</a>
    <!-- Button trigger modal -->
    <button class="btn btn-danger btn-lg float-right" data-target="#Modal2" data-toggle="modal" type="button">Delete
        List
    </button>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Modal2" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal3">Delete List</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This action will DELETE your hole Heroes Collection. Are you sure you want to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <a href="/professions/delete">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container-body">
    <div class="jumbotron">
        <h2 class="display-4">Nothing here yet!</h2><br>
        <p class="lead">Don't loose any more time and start creating the Heroes of your dreams</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/hero" role="button">New Hero</a>
    </div>
</div>

{% endif %}
