{% extends "layout.html" %}

{% set active_page = "profession" %}

{% block title %} New Profession {% endblock %}

{% block content %}

<div class="container-body">
    <div id="container-form">
        {% if profession_id %}
        <div id="jumbotron">
            <form action="/professions/{{profession_id}}" method="GET">


                {% endif %}
                < class="jumbotron">
                    <form action="/professions/new" method="POST">

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label for="profession">Profession</label>
                            <input type="text" class="form-control {% if errors and errors.profession %}is-invalid{% endif %}"
                                   id="profession" profession="profession" value="{{ profession }}">
                            {% if errors and errors.profession %}
                            <div class="invalid-feedback">{{ errors.profession }}</div>
                            {% endif %}
                        </div>

                    </div>

                        <div class="form-group col-xl-6 d-flex justify-content-center">
                            <img class="profession-image" src="{{ url_for('static',filename='images/robocop-unicorn.jpg') }}" alt="Profession Image"/>
                        </div>

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label for="hp">HP</label>
                            <input type="text" class="form-control {% if errors and errors.hp %}is-invalid{% endif %}"
                                   id="hp" hp="hp" value="{{ profession.hp }}">
                            {% if errors and errors.hp %}
                            <div class="invalid-feedback">{{ errors.hp }}</div>
                            {% endif %}
                        </div>

                    </div>

                        <div class="form-group col-xl-6 d-flex justify-content-center">
                            <img class="profession-image" src="{{ url_for('static',filename='images/robocop-unicorn.jpg') }}" alt="Profession Image"/>
                        </div>

                    </form>


                        {% if hero_id %}
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/heroes">
                            <button type="button" id="close-btn" class="btn btn-primary">Cancel</button>
                        </a>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/heroes">
                            <button type="button" id="close-btnn" class="btn btn-primary">Back</button>
                        </a>
                        {% endif %}

                    </form>
                </div>
        </div>
    </div>

    {% endblock %}
